# amanda@.service 
[Unit]
Description=Amanda Backup System
After=local-fs.target

[Service]
User={{ server_user_discovered }}
Group={{ server_user_discovered_group }}
ExecStart=/usr/lib/amanda/amandad -auth=bsdtcp amdump amindexd amidxtaped
StandardInput=socket
