# Managed by Ansible
127.0.0.1 localhost
{{ hostvars[groups['amanda_server'][0]].ansible_all_ipv4_addresses|regex_search('192.168.[0-9]*.[0-9]*') }} {{ hostvars[groups['amanda_server'][0]]['ansible_fqdn'] }} {{ hostvars[groups['amanda_server'][0]]['inventory_hostname'] }}
{% for clients in groups['amanda_client'] %}
{{ hostvars[clients].ansible_all_ipv4_addresses|regex_search('192.168.[0-9]*.[0-9]*') }} {{ hostvars[clients]['ansible_fqdn'] }} {{ hostvars[clients]['inventory_hostname'] }}
{% endfor %}

