define dumptype global {
  comment "Global definitions"
  index yes
  record yes
  auth "ssh"
  {% if (ansible_os_family == "RedHat") %}
  ssh_keys "{{ server_user_home }}/{{ redhat_user }}/.ssh/id_rsa_amdump"
  {% elif (ansible_distribution == "Debian") %}
  ssh_keys "{{ server_user_home }}/{{ debian_user}}/.ssh/id_rsa_amdump"
  {% endif %}

}
