############################################################
# /etc/amanda-security.conf                                #
#                                                          #
# See: man amanda-security.conf                            #
#                                                          #
# This file must be installed at /etc/amanda-security.conf #
#                                                          #
# It list all executables amanda can execute as root.      #
# This file must contains realpath to executable, with     #
# all symbolic links resolved.                             #
# You can use the 'realpath' command to find them.         #
#                                                          #
# It list program and a symbolic name for the program      #
# Followed by the realpath of the binary                   #
#                                                          #
# Uncomment and edit the following lines to let Amanda to  #
# use customized system commands.  If multiple PATH is     #
# necessary, please put them in different lines.           #
# e.g.:                                                    #
# amgtar:GNUTAR_PATH=/usr/bin/tar                          #
# amgtar:GNUTAR_PATH=/usr/bin/tar-1.28                     #
#                                                          #
# Only binary listed are allowed to be run as root.        #
#                                                          #
# You can find the configured binary with amgetconf        #
#     amgetconf build.gnutar_path                          #
#     amgetconf build.star_path                            #
#     amgetconf build.bsdtar_path                          #
#                                                          #
############################################################
runtar:gnutar_path=/usr/bin/tar
amgtar:gnutar_path=/usr/bin/tar
#amstar:star_path=/usr/bin/star
#ambsdtar:bsdtar_path=/usr/bin/bsdtar

#restore_by_amanda_user=no
# 
# SSH AUTH is used, ensure tcp/udp port range not used
#tcp_port_range=512,1024    #required by bsdtcp and krb5 auth
#udp_port_range=512,1024    #required by bsd and bsdudp auth
