#################################
# VIRTUAL TAPE CONFIG (TESTING) #
#################################

#report and contact
mailto "{{ item[0].cfg_email }}"
org "{{ item[0].cfg_org }}"

#state
infofile "/amanda/{{ item[0].cfg_name }}/state/curinfo"
logdir "/amanda/{{ item[0].cfg_name }}/state/log"
indexdir "/amanda/{{ item[0].cfg_name }}/state/index"

#server user
dumpuser "{{ server_user_discovered }}"

#cycle
tapecycle {{ item[0].cfg_tapecycle }}
dumpcycle {{ item[0].cfg_dumpcycle }}

#hardware
tpchanger "{{ item[0].cfg_tapechanger }}"
labelstr "{{ item[0].cfg_label }}[0-9][0-9]"
autolabel "{{ item[0].cfg_label }}%%" EMPTY VOLUME_ERROR
amrecover_changer "changer"

#tape type to use
{{ vtape_test_tape }}

#define global dump params
includefile "test_vtape_global.conf"

#deine dumps
includefile "test_vtape_dumps.conf"

#define holding disk
includefile "test_vtape_holding_disk.conf"
