define dumptype simple-gnutar-local {
auth "local"
program "GNUTAR"
}


define dumptype simple-gnutar-ssh-{{ server_user_discovered }}-user {
global
ssh_keys "{{ server_user_discovered_home }}/.ssh/{{ server_ssh_keypair }}"
client_username "{{ server_user_discovered }}"
program "GNUTAR"
}
